
.swiper {
    padding-left: 79.5px;
    padding-right: 79.5px;
    width: 1500px!important;
}

.carousel-logo {
    display: block;
    max-height: 70px!important;
    padding: 0px!important;
}

.swiper-slide {
    align-content: center;
    vertical-align: center!important;
}
