
.swiper {
    padding-left: 79.5px;
    padding-right: 79.5px;
}

.carousel-logo {
    display: block;
    max-height: 70px!important;
}

.swiper-slide {
    display: flex;
    align-content: center;
    vertical-align: center!important;
    width: fit-content;
}

.image-swiper-slide > div {
    padding-left: 0px!important;
}
