footer {
  padding: 2rem;
  background-color: #084772;
  font-size: var(--body-font-size-s);
}

footer .footer {
  width: 100%;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

.footer-wrapper{
  padding: 0px;
}

